<div class="master-wrapper">
  <div class="preloader">
    <div class="preloader-img">
      <span class="loading-animation animate-flicker"><img src="assets/img/loading.GIF" alt="loading"/></span>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top header-3">
    <div class="container header-3-container">
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="nav navbar-nav navbar-left">
          <li class="mt303">
            <a class="btn btn-light btn-theme page-scroll"  routerLink="/Blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
